#include "klotz.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        ;
};

/* Comentamos el encoder un segundo para asegurar que el teclado arranca con las columnas nuevas */
/*
&left_encoder {
    status = "okay";
};

&sensors {
    status = "okay";
};
*/